.vis-form {
	margin:10px auto;
	max-width: 400px;
	padding: 20px 12px 10px 20px;
	font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.vis-form li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}
.vis-form label{
	margin:0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: bold;
}
.vis-form input[type=text], 
.vis-form input[type=date],
.vis-form input[type=datetime],
.vis-form input[type=number],
.vis-form input[type=search],
.vis-form input[type=time],
.vis-form input[type=url],
.vis-form input[type=email],
textarea, 
select{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 7px;
	margin:0px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;	
}
.vis-form input[type=text]:focus, 
.vis-form input[type=date]:focus,
.vis-form input[type=datetime]:focus,
.vis-form input[type=number]:focus,
.vis-form input[type=search]:focus,
.vis-form input[type=time]:focus,
.vis-form input[type=url]:focus,
.vis-form input[type=email]:focus,
.vis-form textarea:focus, 
.vis-form select:focus{
	-moz-box-shadow: 0 0 8px #88D5E9;
	-webkit-box-shadow: 0 0 8px #88D5E9;
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
}
.vis-form .field-divided{
	width: 49%;
}

.vis-form .field-long{
	width: 100%;
}
.vis-form .field-select{
	width: 100%;
}
.vis-form .field-textarea{
	height: 100px;
}
.vis-form input[type=submit], .vis-form input[type=button]{
	background: #4B99AD;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}
.vis-form input[type=submit]:hover, .vis-form input[type=button]:hover{
	background: #4691A4;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.vis-form .required{
	color:red;
}
.vis-form  input[type=button]{
	border: none;
	padding: 8px 15px 8px 15px;
	background: #FF8500;
	color: #fff;
	box-shadow: 1px 1px 4px #DADADA;
	-moz-box-shadow: 1px 1px 4px #DADADA;
	-webkit-box-shadow: 1px 1px 4px #DADADA;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.vis-form  input[type=submit]:hover,
.vis-form  input[type=button]:hover{
	background: #EA7B00;
	color: #fff;
}